- let s = quantity

include head.pug

body  

  main.v-align

    header
      h1 Swirly thing with Pug + CSS

    include controls.pug

    section.wrapper
      while s--
        .line(style=`--s:${s}`)

    footer.p-10
      p.text-center &copy; Roland Levy 2020 
        a.new-tab-icon(href='https://rolandlevy.co.uk', target='_blank') see more of my projects

  script 
    include ../public/src/script.js