.slider {
  -webkit-appearance: none;
  width: 150px;
  height: 10px;
  border-radius: 5px;
  background: #f1f0f5;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  /* background: #b6afc7; */
  background:   radial-gradient(circle farthest-corner at 33% 33%, #f0f0f0 0%, #6e6583 80%), radial-gradient(circle farthest-corner at 45% 45%, rgba(0, 0, 0, 0) 70%, #2d2936 80%);
  border: 4px solid #6e6583;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  /* background: #b6afc7; */
  background:   radial-gradient(circle farthest-corner at 33% 33%, #f0f0f0 0%, #6e6583 80%), radial-gradient(circle farthest-corner at 45% 45%, rgba(0, 0, 0, 0) 70%, #2d2936 80%);
  border: 4px solid #6e6583;
  cursor: pointer;
}