* {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: #fff;
}

body {
  background-color: #6e6583;
  margin: 30px;
}

h1 {
  color: #fff;
}

input, button, select {
  color: #000;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 50px;
  margin: 50px;
}

.segment {
  width: calc((var(--s) + var(--size) * 0.25) * 0.1vw);
  height: calc((var(--s) / 2 + var(--size) / 3) * 1vw);
  border-radius: calc((var(--s) + var(--size)) * 1px);
  --pos-x: calc((var(--s) + var(--size)) * 0.15vw);
  transform: rotate(calc((var(--degrees) / var(--quantity) * 1deg) * (var(--s) + var(--size)))) translate(var(--pos-x), 0px);
  transform-origin: 50% 50%;
  position: absolute;
  opacity: 0.75;
  background: linear-gradient(#4c0668 0%,#ff4793 30%,  #fff 100%);
  /* transition: all 0.15s ease; */
  box-shadow: 0 0 15px 0 #4c066833;
}