* {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 1rem;
}

body {
  background-color: #676275;
  margin: 30px;
}

h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 0 2px 3px #333;
}

input, button, select {
  color: #000;
}

span {
  text-shadow: 0 1px 2px #333;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 50px;
}

.segment {
  width: calc((var(--s) + var(--size) * 0.5) * 0.1vw);
  height: calc((var(--s) * 5 + var(--size) / 2) * 0.25vw);
  border-radius: calc((var(--s) + var(--size)) * 1px);
  --pos-x: calc((var(--s)) * 0.25vw);
  transform: rotate(calc((var(--degrees) / var(--quantity) * 1deg) * (var(--s) + 10))) translate(var(--pos-x), 0px);
  transform-origin: 50% 50%;
  position: absolute;
  opacity: 0.75;
  background: linear-gradient(#00000099 0%,var(--col) 50%,  #fff 100%);
  box-shadow: 0 0 15px 0 #51415733;
}