* {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: #fff;
}

body {
  background-color: #6e6583;
  margin: 30px;
}

h1 {
  color: #fff;
}

input, button, select {
  color: #000;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 50px;
  margin: 50px;
}

.segment {
  width: calc((var(--s) + var(--size) * 0.5) * 0.05vw);
  height: calc((var(--s) * 5 + var(--size) / 2) * 0.25vw);
  border-radius: calc((var(--s) + var(--size)) * 1px);
  --pos-x: calc((var(--s)) * 0.25vw);
  transform: rotate(calc((var(--degrees) / var(--quantity) * 1deg) * (var(--s) + 10))) translate(var(--pos-x), 0px);
  transform-origin: 50% 50%;
  position: absolute;
  opacity: 0.7;
  background: linear-gradient(#4c0668 0%,#ff4793 30%,  #fff 100%);
  box-shadow: 0 0 15px 0 #4c066833;
}